@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");

body {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  color: #ffffff;
}

h1 {
  font-size: 70px;
  text-align: center;
  margin-top: 20%;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 400;
}

span {
  color: #1f1f1f;
  font-size: 100px;
  font-weight: 900;
}

p {
  text-align: center;
  margin-top: -20px;
  font-size: 18px;
  letter-spacing: 3px;
}

button {
  margin: auto;
  display: block;
}

.btn {
  background-color: transparent;
  border: 2px solid #1f1f1f;
  border-radius: 0.6em;
  color: #1f1f1f;
  font-size: 1rem;

  padding: 1.2em 2.5em;
  cursor: grab;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 900;
}

.btn:hover {
  color: #ffffff;
  outline: 0;
}

.lco {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.lco:hover {
  box-shadow: 0 0 40px 40px #1f1f1f inset;
}

@media screen and (max-width: 800px) {
  body {
    background: orange;
  }

  h1 {
    font-size: 40px;
  }
  span {
    font-size: 60px;
  }
}

@media screen and (max-width: 600px) and (min-width: 400px) {
  body {
    background: crimson;
  }

  h1 {
    font-size: 40px;
  }
  span {
    font-size: 60px;
  }
}
